<table class="table">
	<thead>
		<tr class="trr">
			<th>Category<i class="fas fa-search"></i></th>
		</tr>

		<% genres.each do |genre| %>
			<tr class="trr">
				<td><%= link_to genre.name, search_public_products_path(genre.id), method: :get, class: "link" %></td>
			</tr>
		<% end %>
    </thead>
</table>



 <!-- コメントアウト　8,10,12行目のシャープ外してください。byiori -->