<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<%= render "public/products/genres_sideber" %>
		</div>

		<div class="col-xs-10">
			<h2>商品一覧<span>(全 <%= @products.count %> 件)</span></h2>
			<div id="products_box">
					<div class="product_block">
						<div class="image_id"></div>
						<p>商品名</p>
						<p>¥0,000</p>
					</div>
					<div class="product_block_1"></div>
					<div class="product_block_2"></div>
					<div class="product_block_3"></div>
					<div class="product_block_4"></div>
			</div>


		</div>
	</div>
</div>

<style>
	table thead tr th {
		text-align: center
	}
	span {
		font-size: large;
	}
	.product_block {
		float: left;
		width: 180px;
		height: 200px;
		background-color: pink;

	}
	.product_block_1 {
		float: left;
		width: 180px;
		height: 200px;
		background-color: red;
	}
	.product_block_2 {
		float: left;
		width: 180px;
		height: 200px;
		background-color: pink;
	}
	.product_block_3 {
		float: left;
		width: 	180px;
		height: 200px;
		background-color: red;
	}
	.product_block_4 {
		float: left;
		width: 180px;
		height: 200px;
		background-color: blue;
	}
</style>






