<div class="container">
  <div class="row">
    <div class="text-center">
	<h1 class='title'>管理者画面</h1>
	  <h2>本日の注文件数&emsp;&emsp;&emsp;&emsp;<%= link_to @orders.count, admin_orders_path(day: 1) %>件</h2>
	</div>
  </div>
</div>
