// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tb-pos1 {
  margin-bottom: 40px;
}

.tb-pos2 {
  margin-top: 60px;
}

.tb-css .tr-css2 .th-css2 {
  padding-bottom: 20px;
  font-size: large;
}

.tb-css .tr-css2 .td-css2 {
  padding-bottom: 20px;
  font-size: large;
}

.tb-css .tr-css3 {
  font-size: large;
}

.tb-css .tr-css3 .td-css3 {
  font-size: large;
  font-weight: bold;
  padding-bottom: 5px;
}