// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  margin-top: 30px;
  margin-bottom: 70px;
}

.font-size {
  font-size: large;
}

.btn-edit {
  margin-top: 250px
}