<meta http-equiv="refresh" content=" 3; url = /public/products">

<div class="container back">
	<div class="row">
	  <div class="col-xs-6 background">
          <div id="complete_message">
			<div id="background">
	          <div id="flower">
		        <div id="topleft" class="petal"></div>
		        <div id="topright" class="petal"></div>
		        <div id="center"></div>
		        <div id="bottomleft" class="petal"></div>
		        <div id="bottomright" class="petal"></div>
		        <div id="leftleaf" class="leaf"></div>
		        <div id="stem"></div>
		         <div id="rightleaf" class="leaf"></div>
	          </div>
            </div>
          </div>
      </div>
	  <div class="col-xs-6">
	    <div class="thanks">
	      <h1 class="enjoy">Thank you for your purchase</h1>
	      <h1 class="enjoy">Please continue to enjoy shopping</h1>
	    </div>
	  </div>
	</div>
</div>

