/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*font-awesome-sass用の記述*/
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ジャンル検索テーブル

.trr :hover{
  background-color: #FFCCCC;
}


// フッター --------------------------------------------
footer {
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background-color: #CC9966;
  margin: auto 0;
}

// ----------------------------------------------------

.concon {
  background-color: #999999;
}

.welcome {
  padding: 30px 0;
}

.welcome2 {
  padding: 60px 0;
}

.wel {
  margin: 7px 0;
  color: #663300;
  font-family: Times New Roman;
}

.topbox {
  padding: 0 auto;
}

.genre {
  padding: 30px 0;
}

.link {
  text-decoration: none !important;
  color: #663300
}

.linkpink {
  text-decoration: none !important;
  color: #99CCCC
}


.jquery {
  // padding: 30px 0;
  font-size: 50px;
  position: relative;
  font-family: Times New Roman;
  // color: #6eb0f9;
  line-height: 1.4;
  -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));
}

.style{
  text-decoration: none;
}
.text {
  font-size: 12px;
  margin: 8px 0;
}

.textend {
  margin-bottom: 25px;
}

.fab {
  padding: 10px;
  font-size: 50px;
}

.footer-text {
  color: #fff;
}

#container{
  height: 400px;
}

.image1 {
  background-image: url(do.jpg);
}
.image2 {
  background-image: url(kanure.jpg);
}
.image3 {
  background-image: url(kkk.jpg);
}
.image4 {
  background-image: url(ccc.jpg);
}
.image5 {
  background-image: url(mint.jpg);
}


.profile-box-img {
  text-align: center;
  width: 50%;
  float: left;
}
.marumaru-img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(dodo.jpg);
  background-size: cover;
  background-position: center;

}

.welcome-img {
  width: 300px;
  height: 150px;
  margin: 30 auto;
  border-radius: 20px;
  background-size: cover;
  background-image: url(mron.jpg);
  background-position: center;
  text-align: center;

}

// おすすめ商品
.recomend {
  background-color: #99CCCC;
  height: 400px;
  padding: 10px 0;
}

.reco {
  margin: 30px 30px 30px 230px;
}

.sweets-box {
  margin-left: 30px;
}

.about {
  text-align: center;
  padding-top: 45px;
}

.main-visual-text {
  font-size: 45px;
  color: #FFEBCD;
  font-family: Times New Roman;

}

.profile {
  background-color: #99CC99;
  padding: 30px 0;

}


.profile-text{
  padding-bottom: 20px;
}

.subtitles {
  font-size: 20px;
  padding-bottom: 5px;
  font-family: Times New Roman;

}
.contact {
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.contact-contents{
  width: 800px;
  margin: 0 auto;
}

.contact-box {
  width: 50%;
  float: left;
}

.mail{
  padding-bottom: 20px;
}
.mail-tell-box{
  width: 150px;
  margin: 0 auto;
}

.social {
  margin: 0 auto;
}
.main-titles {
  text-align: center;
  font-size: 32px;
  padding-bottom: 8px;
  font-family: Times New Roman;

}


.border-bottom {
  margin: 0 auto;
  width: 260px;
  border-bottom: dotted 7px #DAA520;
}

.main-text{
  text-align: center;
  padding: 30px 0;
}

.strength-title{
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}

.contact-subtitles{
  float: none;
  width: 400px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.ecsite{
  margin: auto 0;
}


// about 画面--------------------------------------------

.top {
  height: 450px;
}
.aaa {
  background-image: url(mint.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
}
.bbb {
  height: 450px;
}
.ccc {
  height: 450px;
}
.aboutleftop {
  height: 200px;
  background-color: #fff;
  text-align: center;
}
.about-about {
  color: #228B22;
}
.aboutleftdown {
  margin-top: 91px;
  height: 80px;
  width: 260px;
  background-color: #fff;
}

.anytime {
  color: #BDB76B;
  text-align: center;
  font-family: Times New Roman;

}

.access {
  font-size: 12px;
  text-align: center;
}
.bbb-a {
  margin-top: 25px;
  height: 400px;
  background-image: url(ooo.jpg);
  background-size: cover;
  background-position: center;
}
.ccc-top {
  height: 200px;
  background-image: url(cafe.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 25px;
}

.ccc-down {
  height: 200px;
  background-image: url(hole.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 25px;
}


.about-footer {
  height: 350px;
}

.about-about {
  position: relative;
  padding: 0.25em 0;
  font-family: Times New Roman;
}


.about-foota{
 height: 250px;
 background-image: url(abo.jpg);
 background-size: cover;
 background-position: center;
}

.about-footb{
 background-color: #fff;
 height: 250px;
}

.about-footc{
 background-color: orange;
 height: 250px;
 background-image: url(ao.jpg);
 background-size: cover;
 background-position: center;
}

.about-footd{
 background-color: blue;
 height: 250px;
 background-color: #fff;
 background-size: cover;
 background-position: center;
 text-align: center;
}

.footd-box {
  font-family: Times New Roman;
  color: #BDB76B;
  padding: 30px 0;
}

.ccc-top-a {
  padding-top: 80px;
  height: 100px;
}

.ccc-top-aa {
  color: #BDB76B;
  background-color: #fff;
  font-family: Times New Roman;

}

.ccc-top-aaa {
  background-color: #fff;
}


// 全画面共通--------------------------------------------
.title-box {
  padding: 30px;
}

.title {
  font-family: Times New Roman;
}

// ---------------------------------------------------------

//ログイン画面------------------------------------------------

.login {
  background-image: url(red.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  border-radius: 25%;
  margin-top: 30px;
}

.name {
 margin: auto 0;
}
.login-table {
  padding-top: 100px;
}

.fff {
  color: #fff;
}

.holetop {
  height: 30px;
}

.ccctext {
  font-size: 75px;
}

.fix {
  height: 30px;
}

.navbar {
  margin: 0;
}

.complete {
  height: 450px
}

// 花

.back {
  background-color: #fff;
}
#background {
  position: relative;
  background-color: #fff;
  height: 476px;
  border-bottom: 10px solid #99CCCC;
  margin: 0 auto; }
#flower {
  position: absolute;
  top: 20px;
  left: 172px;
  width: 256px; }

.petal {
  background-color: #FFCCCC;
  float: left;
  margin: 1px 1px 0 0;
  width: 125px;
  height: 125px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px; }
#topleft {
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom: 2px solid #FFCCCC;
  border-right: 2px solid #FFCCCC; }
#topright {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom: 2px solid #FFCCCC;
  border-left: 2px solid #FFCCCC;  }
#bottomleft {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top: 2px solid #FFCCCC;
  border-right: 2px solid #FFCCCC; }
#bottomright {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top: 2px solid #FFCCCC;
  border-left: 2px solid #FFCCCC; }
#center {
  position: absolute;
  left: 112px;
  top: 112px;
  background-color: #FFA500;
  width: 30px;
  height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px; }
#stem {
  float: left;
  width: 12px;
  height: 200px;
  margin: 0 1px;
  background-color: #99CCCC; }

.leaf {
  float: left; 
  margin-top: 80px; 
  background-color: #99CCCC;
  width: 60px;
  height: 30px; }

#leftleaf {
  clear: left;
  margin-left: 10px;
  -moz-border-radius-bottomleft: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-topright: 30px;
  -webkit-border-top-right-radius: 30px; }
#rightleaf {
  -moz-border-radius-bottomright: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -webkit-border-top-left-radius: 30px; }

.thanks {
  margin: 100px 0;
}


.enjoy {
  font-family: Times New Roman;
  font-size: 45px;
  color: #996633;
}

// topスクロール
.scroll {
  margin     : auto;
  font-size  : 140%;
  line-height: 1.5em;
  text-align : center;
  color      : red;
  background : #fff;
  overflow   : hidden;
}
.scroll span{
  display     : inline-block;
  padding-left: 100%;
  white-space : nowrap;
  line-height : 1em;
  animation   : scrollAnime 15s linear infinite;
}
@keyframes scrollAnime{
    0% { transform: translateX(0)}
  100% { transform: translateX(-100%)}
}
